<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, consequuntur facilis assumenda nam 
            maxime quis eaque vitae iure voluptates cupiditate, iste ducimus reprehenderit molestiae voluptatem 
            alias dignissimos? Tempora nulla laudantium esse nostrum fugiat temporibus odio neque aperiam ex, 
            impedit accusantium.</p>
    </div>
</div>