<div class = "jumbotron mt -4">
<h1 class = "display -4"> Notes app Node.js and MongoDB</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
<hr class = "my -4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque fugit maiores doloribus,
     consequuntur reprehenderit aliquam, dolorem error et molestiae 
     voluptatibus repellendus ut qui eos eius explicabo nulla incidunt sapiente iste.</p>      
<a href= "http://faztweb.com" class="btn btn-primary btn-lg"> Faztweb</a>
</div>